In [2]:
import pandas as pd

In [51]:
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
import numpy as np

In [36]:
df = pd.read_csv('housing.csv')
train_val, test = train_test_split(df, test_size=0.1)
train, val = train_test_split(train_val, test_size=0.1)

In [37]:
train = pd.get_dummies(train, columns=['ocean_proximity']).reset_index(drop=True)

In [40]:
imputer = SimpleImputer(strategy="median")
df_num = train.drop(columns=[c for c in train.columns if c.startswith('ocean_proximity')], axis=1)
imputer.fit(df_num)
X = imputer.transform(df_num)
tr = pd.DataFrame(X, columns=df_num.columns)

In [39]:
train[train.total_bedrooms.isna()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
29,-124.13,40.55,38.0,544.0,NaN,240.0,91.0,3.2500,94800.0,1,0,0,0,0
46,-118.35,34.01,35.0,3776.0,NaN,1583.0,749.0,3.5486,332100.0,1,0,0,0,0
120,-118.23,34.18,45.0,2332.0,NaN,943.0,339.0,8.1132,446600.0,1,0,0,0,0
121,-118.10,33.91,36.0,726.0,NaN,490.0,130.0,3.6389,167600.0,1,0,0,0,0
149,-117.23,32.75,5.0,1824.0,NaN,892.0,426.0,3.4286,137500.0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16350,-119.78,36.82,25.0,5016.0,NaN,2133.0,928.0,3.6250,89500.0,0,1,0,0,0
16366,-117.92,33.87,33.0,1597.0,NaN,1888.0,423.0,3.0550,157800.0,1,0,0,0,0
16548,-117.96,33.78,33.0,1520.0,NaN,658.0,242.0,4.8750,269300.0,1,0,0,0,0
16617,-117.91,33.87,29.0,1121.0,NaN,762.0,276.0,2.5000,143800.0,1,0,0,0,0
16700,-122.44,37.80,52.0,3830.0,NaN,1310.0,963.0,3.4801,500001.0,0,0,0,1,0

In [65]:
tr = pd.concat([tr, train[[c for c in train.columns if c.startswith('ocean_proximity')]]], axis=1)

In [63]:
tr['longitude'] = preprocessing.normalize([tr.longitude])[0]
tr['latitude'] = preprocessing.normalize([tr.latitude])[0]

In [69]:
tr['average_rooms'] = tr.total_rooms / tr.households
tr['average_bedrooms'] = tr.total_bedrooms / tr.households

In [70]:
tr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,average_rooms,average_bedrooms
0,-0.007917,0.008221,52.0,154.0,33.0,89.0,38.0,3.2875,275000.0,0,0,0,1,0,4.052632,0.868421
1,-0.007587,0.007385,37.0,953.0,231.0,611.0,230.0,1.9926,81500.0,0,1,0,0,0,4.143478,1.004348
2,-0.007575,0.007092,50.0,2307.0,424.0,887.0,356.0,3.5156,168800.0,0,0,0,0,1,6.480337,1.191011
3,-0.007475,0.007103,5.0,2494.0,414.0,1416.0,421.0,5.7843,110100.0,0,1,0,0,0,5.923990,0.983373
4,-0.007847,0.008395,14.0,1449.0,228.0,670.0,232.0,4.3897,186300.0,0,1,0,0,0,6.245690,0.982759
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16713,-0.007631,0.007346,30.0,1677.0,372.0,1021.0,332.0,3.5859,199700.0,1,0,0,0,0,5.051205,1.120482
16714,-0.007923,0.008228,25.0,6526.0,1902.0,5917.0,1812.0,2.7273,187500.0,0,0,0,1,0,3.601545,1.049669
16715,-0.007651,0.007374,38.0,1501.0,437.0,1777.0,441.0,2.0848,135200.0,1,0,0,0,0,3.403628,0.990930
16716,-0.007625,0.007294,33.0,3595.0,785.0,1621.0,732.0,4.1372,265200.0,1,0,0,0,0,4.911202,1.072404
16717,-0.007867,0.007948,24.0,2591.0,739.0,3243.0,702.0,2.1766,108500.0,1,0,0,0,0,3.690883,1.052707